/* General */

body {
	font-family: $fontMain;
}

/* Logo */

.logo-marca {
	display: $d-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: $margin-medium;
	img {
		height: 8rem;
		object-fit: cover;
		margin-top: $margin-medium;
	}
}

// Mixin de sombra logotipo
// @include text-shadow(1px, 1px, 1px, color);
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: $textBlacklight) {
	text-shadow: $x $y $blur $color;
}

.texto-logo {
	text-align: center;
	color: $textBlacklight;
	@include text-shadow(2px, 2px);
	margin: $margin-small;
	font-size: $font-small-medium;
	font-weight: $font-light;
}

/* Redes */

.iconos-redes {
	height: 50px;
	object-fit: cover;
	margin: 0.5rem;
}

/* Ajuste de IMG con Fit */

.foto-carousel {
	height: 1000px;
	object-fit: cover;
}

.foto-disciplinas {
	height: 270px;
	object-fit: cover;
	padding: $padding-small;
}

/* Grid */

.body-grid {
	margin: 0;
	padding: 0;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "main" "footer";
}

.header-grid {
	margin-top: 10px;
}

.main-grid {
	grid-area: main;
}

/* Animaciones-transform-transiciones */

.skew:hover {
	transform: skewY(2deg);
	cursor: pointer;
	transition: transform 1s;
}

.transform:hover {
	transform: translateY(-5px);
	cursor: pointer;
	transition: transform 2s;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

/* Inicia carrusel-unico */

.carrusel-automatico {
	height: 99vh;
}

/* Formato Título, Subtítulo, Texto y Bordes */

.titulo {
	text-align: center;
	margin: $margin-Xlarge;
	margin-top: 6rem;
	color: $textDarkBlue;
	font-size: $font-medium;
	font-weight: $font-heavy;
	font-size: $font-big;
	font-weight: $font-light;
}

.subtitulo {
	text-align: center;
	font-size: $font-medium;
	color: $textOrangeStrong;
}

.texto {
	text-align: center;
	color: $textBlack;
	font-size: $font-small;
	line-height: 2.6rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: $font-light;
}

.borde-puntos {
	border: 2px dotted $textBlack;
	border-radius: 10px;
	border-width: thin;
	margin: $margin-small;
}

/* HOME */

.section-paraque {
	padding: $padding-large;
	margin-top: $margin-small;
	text-align: center;
}

.article-paraque {
	h2 {
		@extend .titulo;
	}
	p {
		@extend .texto;
	}
}

.section-iconos {
	padding: $padding-small;
	margin: $margin-medium;
	text-align: center;
	clear: both;
	@extend .borde-puntos;

	img {
		height: 130px;
		object-fit: cover;
	}

	p {
		@extend .texto;
	}
}

/* DISCIPLINAS */

#section-disciplinas {
	padding: $padding-small;
	margin: $margin-medium;

	display: $d-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h2 {
		@extend .titulo;
	}
	div {
		article {
			@extend .borde-puntos;
			div {
				h3 {
					@extend .subtitulo;
				}
				p {
					@extend .texto;
				}
			}
		}
	}
}

.titulo-videos-disciplinas {
	@extend .titulo;
}

.videos-disciplinas {
	padding: $padding-small;
	margin: $margin-medium;

	display: $d-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	article {
		iframe {
			height: 250px;
			width: 440px;
			object-fit: cover;
		}
	}
}

/* PROPUESTA */

.titulo-propuesta {
	@extend .titulo;
}

#section-propuesta {
	div {
		article {
			@extend .borde-puntos;
			margin: 2rem 3rem;
			div {
				h3 {
					@extend .subtitulo;
				}
				p {
					@extend .texto;
				}
			}
		}
	}
}

.logros {
	padding: $padding-small;
	margin: $margin-medium;

	display: $d-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	img {
		height: 300px;
		object-fit: cover;
		margin: $margin-medium;
	}
}

/* SOBRE MI */

.conoce-mas {
	display: $d-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: $margin-large;
}

.img-conoce-mas {
	height: 300px;
	object-fit: cover;
	margin: $margin-medium;
}

.sobre-mi {
	h2 {
		@extend .titulo;
	}
	h3 {
		@extend .subtitulo;
	}
	p {
		@extend .texto;
	}
}

// Preguntas frecuentes (acordeon)

#accordion-preguntas-frecuentes {
	button {
		@extend .texto;
		text-align: left;
	}
}

.respuestas-acordeon {
	@extend .texto;
	color: $textDarkBlue;
	text-align: left;
}

/* CONTACTO */

.contacto-info {
	h2 {
		@extend .titulo;
	}
	article {
		p {
			@extend .subtitulo;
		}
	}
}

.contacto-seguinos {
	h2 {
		@extend .titulo;
	}
	article {
		display: $d-flex;
		justify-content: center;
		align-items: center;
		a {
			img {
				height: 50px;
				object-fit: cover;
				margin: 0.5rem;
			}
		}
	}
}

// Formulario-contacto

.contacto-form {
	padding: $padding-medium;
	background-color: $textOrangeLight;
	@extend .borde-puntos;
	@extend .texto;
	text-align: left;
	margin: 0rem 12rem !important;

	label {
		font-size: $font-small;
	}

	select {
		font-size: $font-small;
		@extend .borde-puntos;
	}

	input {
		font-size: $font-small;
		@extend .borde-puntos;
	}
	textarea {
		font-size: $font-small;
	}
}

.store-form {
	padding: $padding-medium;
	background-color: $textOrangeLight;
	@extend .borde-puntos;
	@extend .texto;
	text-align: left;
	margin: 0rem 6rem !important;

	label {
		font-size: $font-small;
	}

	select {
		font-size: $font-small;
		@extend .borde-puntos;
	}

	input {
		font-size: $font-small;
		@extend .borde-puntos;
	}
	textarea {
		font-size: $font-small;
	}
}

#boton-comprar {
	color: $textBlack;
	font-size: $font-small;
	letter-spacing: 1px;
	padding: 1rem 3rem 1rem 3rem;
	@extend .borde-puntos;
	background-color: $textGreyWaight;
}

//BOTONES JS
/*
.botonJs {
	display: $d-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: $margin-medium;
}*/

/* JS BACKUP
        div.innerHTML = `
            <div class="card">
                <span class="card-title">${producto.nombre}</span>
                <div class="card-content">
                    <p>${producto.desc}</p>
                    <p>Deporte: ${producto.deporte}</p>
                    <p>$${producto.precio}</p>
                </div>
                <button onClick="carrito.agregarProducto(${producto.id})">Agregar</button>
            </div>
        `;*/

        /*div.innerHTML = `
        <section id="section-disciplinas">
            <h2 class="textDarkBlue textCenter margin-xlarge">Productos</h2>
            <div class="card-group">
                <article class="card">
                    <img src="./assets/img/disciplinas_ciclismo.jpg" class="card-img-top foto-disciplinas"
                        alt="Hombres haciendo ciclismo">
                    <div class="card-body">
                        <h3 class="card-title">${producto.nombre}</h3>
                        <p class="card-text">${producto.desc}</p>
                        <p class="card-text">Deporte: ${producto.deporte}</p>
                        <p class="card-text">$${producto.precio}</p>
                        <button type="submit" class="btn btn-primary" id="boton-comprar" onClick="carrito.agregarProducto(${producto.id})">Agregar al carrito</button>
                    </div>
                </article>
            </div>
        </section>
        `;*/

