body {
	font-family: $fontMain;
}

.logo-marca {
		display: $d-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: $margin-medium;
	img {
		height: 8rem;
		object-fit: cover;
	}
}

// mixin de sombra logotipo
// @include text-shadow(1px, 1px, 1px, color);
@mixin text-shadow($x:2px,$y: 2px,$blur:5px,$color: $textBlacklight){
	text-shadow: $x $y $blur $color;
}

.texto-logo {
	text-align: center; 
	color: $textBlacklight;
	@include text-shadow(2px,2px);
	margin: $margin-small;
	font-size: $font-small-medium;
	font-weight: $font-light;
}

.iconos-redes
	{
		height: 50px;
		object-fit: cover;
		margin: 0.5rem
	}

/* AJUSTE DE IMG CON FIT */

.foto-carousel{
	height: 1000px;
	object-fit: cover;
}

.foto-disciplinas{
	height: 270px;
	object-fit: cover;
	padding: $padding-small;
}


/* INICIA GRID - FIRST */

.body-grid {
	margin: 0;
	padding: 0;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "main" "footer";
}

.header-grid {
	margin-top: 10px;
}

.main-grid {
	grid-area: main;
}

/* Inicia Animaciones-transform-transiciones*/

.skew:hover{
	transform:skewY(2deg);
	cursor: pointer;
	transition: transform 1s;
}

.transform:hover{
	transform: translateY(-5px);
	cursor: pointer;
	transition: transform 2s;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

 @-webkit-keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
/* Termina Animaciones-transform-transiciones*/

/* Inicia carrusel-unico*/

.carrusel-automatico {
					height: 99vh;
}
/* Termina carrusel-unico*/

/* Formato Título y Subtítulo */

.titulo {
	text-align: $textCenter;
	margin: $margin-Xlarge;
	margin-top: 6rem;
	color: $textDarkBlue;
	font-size: $font-medium;
	font-weight: $font-heavy;
	font-size: $font-big;
	font-weight: $font-light;
}

.subtitulo {
	text-align: $textCenter;
	font-size: $font-medium;
	color: $textOrangeStrong;
}

.texto {
	text-align: $textCenter;
	color: $textBlack;
	font-size: $font-small;
	line-height: 2,6rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: $font-light;
}


/* Inicia section-para-que (img) */

#sectionParaque {
				padding: $padding-large;
    			margin-top: $margin-small;
    			text-align: $textCenter;
}

#articleParaque {		
				h2 {
					text-align: $textCenter;
					color: $textDarkBlue;
					font-size: $font-medium;
					font-weight: $font-heavy;
				}
				p {
					color: $textBlack;
				}
}

/* Inicia section-entrenate (iconos) */

#sectionIconos {	
	padding: $padding-small;
    margin: $margin-medium;
    text-align: $textCenter;
    clear: both;
    border: 2px dotted $textBlack;
    border-radius: 10px;
	border-width: thin;

	img { 
		height: 130px;
		object-fit: cover;
	}

	p {
		color: $textBlack
	}
}

/* DISCIPLINAS */

#sectionDisciplinas{
	h2 {
		color: $textDarkBlue;
		text-align: $textCenter;
		margin: $margin-Xlarge;
		margin-top: 6rem;
		font-size: $font-big;
		font-weight: $font-light
	}

	div {
			article {
				border: 2px dotted $textBlack;
				border-radius: 10px;
				border-width: thin;
				margin: $margin-small;
					div {
						
							h3 {
								font-size: $font-medium;
								text-align: $textCenter;
							}
							p {
								text-align: $textCenter;
								font-size: $font-small;
							}
					}
			}
	}
}

.titulo-videos-disciplinas {
		color: $textDarkBlue;
		text-align: $textCenter;
		margin: $margin-Xlarge;
		margin-top: 6rem;
		font-size: $font-big;
		font-weight: $font-light
}

.videos-disciplinas {
	padding: $padding-small;
    margin: $margin-medium;
	margin-top: 1rem;
	
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;	

	article {
		iframe {
			height: 250px;
			width: 440px;
			object-fit: cover;
		}
	}
}

/* PROPUESTA */

.tituloPropuesta { 	
	color: $textDarkBlue;
	text-align: $textCenter;
	margin: $margin-Xlarge;
	margin-top: 6rem;
	font-size: $font-big;
	font-weight: $font-light	
}

#sectionPropuesta {
					div {
						
						article {
							border: 2px dotted $textBlack;
							border-radius: 10px;
							border-width: thin;
							margin: $margin-small;
							margin: 2rem 3rem;
									div {
										
											h3 {
												font-size: $font-medium;
												text-align: $textCenter;
											}
											p {
												text-align: $textCenter;
												font-size: $font-small;
											}
									}
						}
					}
}

#sectionLogros {	
	padding: $padding-small;
    margin: $margin-medium;
    text-align: $textCenter;
    clear: both;

	img { 
		height: 300px;
		object-fit: cover;
		margin: $margin-medium;
	}
}

/* SOBRE MI */

.info-link-insta-conoce-mas {
	display: flex;
	justify-content: space-around;
	margin: 3rem
}

.img-conoce-mas {
	height: 300px;
	object-fit: cover;
	margin: $margin-medium;
}

.sobre-mi {
	h2 {
		@extend .titulo;
	}
	h3 {
		@extend .subtitulo;
	}
	p {
		@extend .texto;
	}
}

/* Preguntas frecuentes (acordeon) */

#accordionPreguntasFrecuentes {
	button {
		@extend .texto;
	}
}

.respuestas-acordeon {
	color: $textDarkBlue;
	text-align: $textLeft;
	font-size: $font-small;
	line-height: 2,6rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: $font-light;

}

/* CONTACTO */

.contacto-info {
	h2 {
		@extend .titulo;
	}
	article {
		p {
			@extend .subtitulo;
		}
	}
}

.contacto-seguinos {
	h2 {
		@extend .titulo;
	}
	article {
		display: flex;
		justify-content: center;
		align-items: center;
			a {
				img {
					height: 50px;
					object-fit: cover;
					margin: 0.5rem
				}
			}
	}
}

/* formulario-contacto */

.contacto-form {
	padding: $padding-medium;
	background-color: $textOrangeLight;
	font-size: $font-small;
	font-weight: $font-light;
	color: $textBlack;
	border: 2px dotted $textBlack;
    border-radius: 10px;
	border-width: thin;
	margin: 0rem 12rem !important;

	label {
		color: $textBlack;
		font-size: $font-small;
		line-height: 2,6rem;
		letter-spacing: 1px;
		word-spacing: 2px;
		font-weight: $font-light;
	}

	select {
		color: $textBlack;
		font-size: $font-small;
		line-height: 2,6rem;
		letter-spacing: 1px;
		word-spacing: 2px;
		font-weight: $font-light;
		border-radius: 10px;
		border-width: thin;
	}

	input {
		color: $textBlack;
		font-size: $font-small;
		line-height: 2,6rem;
		letter-spacing: 1px;
		word-spacing: 2px;
		font-weight: $font-light;
		border-radius: 10px;
		border-width: thin;
	}
	textarea {
		color: $textBlack;
		font-size: $font-small;
		line-height: 2,6rem;
		letter-spacing: 1px;
		word-spacing: 2px;
		font-weight: $font-light;
	}
}

#boton-enviar {
	align-items: center;
	text-align: $textCenter;
	color: $textBlack;
	font-size: $font-small;
	line-height: 2,6rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: $font-light;
	padding: 1rem 3rem 1rem 3rem;
	border: 2px dotted $textBlack;
    border-radius: 10px;
	border-width: thin;
	margin-left: 45rem;
	background-color: $textGreyWaight;

}

.ejemplo {
	&-chiquito {
		margin: 10px;
	}
	&-mediano {
		margin: 20px;
	}
	&-grande {
		margin: 30px;
	}
	&.primero {
		padding: 10px;
	}
}
