@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");

$fontMain: "Raleway", sans-serif;

html {
	font-size: 62.5%;
}

/*Variables Texto*/

// Font size
$font-very-small: 1.5rem;
$font-small: 2rem;
$font-small-medium: 2.5rem;
$font-medium: 3rem;
$font-big: 4rem;

// Font weight
$font-light: 500;
$font-heavy: 800;

// Etiquetas

h1 {
	font-size: $font-big;
	font-weight: $font-light;
}

h2 {
	font-size: $font-medium;
	font-weight: $font-light;
}

h3 {
	font-size: $font-small;
	font-weight: $font-light;
}

h4 {
	font-size: $font-medium;
	font-weight: $font-light;
	color: $textOrangeStrong;
}

p {
	color: $textBlack;
	font-size: $font-small;
	line-height: 2, 6rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: $font-light;
}
