footer {
	h4 {
		@extend .subtitulo;
	}
	p {
		@extend .texto;
		color: $textOrangeStrong;
	}
}

.footer-boos {
	margin-top: 2rem;
	padding: $padding-medium;
	text-align: center;
	background-image: linear-gradient(
		10deg,
		#ffffff 0,
		#f3f4f4 12.5%,
		#d5e6ea 25%,
		#b3d6e1 37.5%,
		#8fc4d9 50%,
		#6ab2d3 62.5%,
		#44a0ce 75%,
		#1290ca 87.5%,
		#0081c6 100%
	);
	display: $d-flex;
	flex-direction: row;
	justify-content: center;
}

.footer-boos-article {
	display: $d-flex;
	align-items: center;
	justify-content: center;
}
