/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
	header nav ul li {
		padding: 1rem 4rem;
	}

	header nav ul {
		justify-content: center;
	}

	#sectionIconos {
		display: flex;
		justify-content: space-between;
	}

	.carrusel {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0rem 1rem;
	}

	.footer-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 1200px) {
	.logros {
		flex-direction: row;
		justify-content: space-around;
	}

	.videos-disciplinas {
		flex-direction: row;
		justify-content: space-around;

		article {
			iframe {
				height: 150px;
				width: 270px;
				object-fit: cover;
			}
		}
	}
}
