/* NAV */

.nav-boos {
	background-color: $textOrangeStrong;
	padding: $padding-small;
	font-weight: $font-heavy;
}

.nav-boos-botones {
	display: $d-flex;
	align-content: center;
	justify-content: center;
}

.nav-boos-botones-unidad {
	padding-left: 3rem;
	padding-right: 3rem;
}
