/* Inicia NAV BOOSTRAP */

.nav-boos {
	background-color: #f25c05;
	padding: 1rem;
}

.nav-boos-botones {
	display: flex;
	align-content: center;
	justify-content: center;
}

.nav-boos-botones-unidad {
	padding-left: 3rem;
	padding-right: 3rem;
}
/* Cierra NAV BOOSTRAP */
